<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Article creation confirmation</h1>
    <p>Dear <%= userName %>,</p>
    <p>You successfully added new article to the online shop. Here are the details:</p>
    
    <h2>Article Information:</h2>
    <ul>
        <li>Name: <%= articleName %></li>
        <li>Price: <%= articlePrice %></li>

    </ul>
        
    <p>Best regards,</p>
    <p>Your Online Store Team</p>
</body>
</html>