<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order purchase confirmation</title>
</head>
<body>
    <h1>Payment Confirmation</h1>
    <p>Dear,</p>
    <p>Thank you for completing your order. Here are the details:</p>
    
    <h3>Total Amount Paid for your order: $<%= orderTotal %>. See more at your <a href="http://localhost:3000/orders">Orders page</a> </h3>
    
    <p>If you have any questions or need further assistance, please feel free to contact our support team.</p>
    
    <p>Best regards,</p>
    <p>Your Online Store Team</p>

</body>
</html>